<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>white converse - product</title>
    <h1>Chuck 70 Vintage Canvas</h1>

     <button><a href="/cart"> cart</button></a>
    <center><img src="/static/pic1.jpg"></center>

    <h2> 50$</h2>

    <p>Chuck 70 Vintage Canvas - The best-ever gets a seasonal makeover with premium canvas in archival color. </p>
    <p>available in all sizes</p>
    <br>
   <button><a href="/"><<< BACK</button></a>
    <button><a href="">add to cart</button></a>


</head>
<body>

</body>
</html>